// ensure no outline is present when user is using orbit tools
canvas {
    outline: none;
    padding: 0;
    margin: 0;
}

.home {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.threeContainer {
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-color: black;
    overflow: hidden;
}

.threeInnerContainer {
    width: 100vw;
    height: 100vh;
}

.bottom {
    height: 100vh;
}