body, html, div, section, span {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Open Sans";
}

h1 {
    font-family: "Titillium Web", sans-serif;
    font-style: italic;
    font-size: 28px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Titillium Web", sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

span, p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

a {
    font-size: 14px;
    color: var(--purple);
    cursor: pointer;
    transition: color 100ms;
    text-decoration: none;
}

a:hover {
    color: var(--purple-hover);
}

#root {
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: auto;
}